{
  "presets": [
    [
      "@babel/preset-env", {
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/transform-runtime",
    ["babel-plugin-styled-components", {"ssr": false, "displayName": true, "fileName": false}],
  ]
}

